<div class="profil-box">
  <h2>Üdv, {{ authService.getCurrentUser()?.nev }}!</h2>
  <p><strong>Email:</strong> {{ authService.getCurrentUser()?.email }}</p>

  <div *ngIf="authService.getCurrentUser() as user">
    <h3>Profil módosítása</h3>

    <div class="profil-mod">
      <h3>Név módosítása</h3>
      <input type="text" [(ngModel)]="ujNev" placeholder="Új név">
      <button (click)="modositNevet()">Mentés</button>
    </div>

    <div class="profil-mod">
      <h3>Jelszó módosítása</h3>
      <input type="password" [(ngModel)]="ujJelszo" placeholder="Új jelszó">
      <button (click)="modositJelszo()">Mentés</button>
    </div>
  </div>

  <button color="warn" (click)="profilTorles()">Profil törlése</button>

  <h3>🧾 Korábbi rendeléseid:</h3>
  <div *ngIf="rendelesek.length === 0">Nincsenek még rendeléseid.</div>
  <ul>
    <li *ngFor="let r of rendelesek">
      <span>Dátum: {{ r.datum | datum }}</span>
      <ul>
        <li *ngFor="let t of r.termekek">
          <img [src]="'/public/' + t.kepUrl" width="40" alt="{{ t.nev }}">
          {{ t.nev }} – {{ t.mennyiseg }} db – {{ t.ar * t.mennyiseg }} Ft
          <span *ngIf="t.hazhozszallitas">– Házhozszállítással</span>
        </li>
      </ul>
    </li>
  </ul>
</div>
